.alert {
  display: none;
  font-family: 'Muli';
  padding: 20px 215px 20px 120px;
  position: relative;
}

.alert-header h2 {
  font-size: 175%;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 .5em;
}

.alert-header{
  min-width:150px;
}

.alert-content {
  font-size: 120%;
  min-width:150px;
}

.alert-footer {
  bottom: 20px;
  right: 25px;
  min-width:150px;

  a {
    border-radius: 1em;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    line-height: 1.25;
    padding: 0 1em;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.alert.weather {
  background: $wwuYellow url("../images/WeatherIcon.svg") 30px center / 60px no-repeat;
  color: $wwuBlue;

  .alert-footer a {
    background: $wwuBlue;
    border-color: $wwuBlue;
    color: $wwuYellow;

    &:hover, &:focus, &:active {
      background: $wwuYellow;
      color: $wwuBlue;
    }
  }
}

.alert.emergency {
  background: $wwuRed url("../images/AlertIcon.svg") 30px center / 60px no-repeat;
  color: #fff;

  .alert-header h2 {
    color: #fff;
  }

  .alert-footer a {
    background: #fff;
    border-color: #fff;
    color: $wwuRed;

    &:hover, &:focus, &:active {
      background: $wwuRed;
      color: #fff;
    }
  }
}
