/**
 * @file
 * Base partial
 *
 * To make it easier to use all variables and mixins in any Sass file in this
 * theme, each .scss file has a @import "base" declaration.
 * 
 * This _base.scss file is in charge of importing all the other partials needed
 * for the theme.
 *
 * This base partial is organized in this way:
 * - First we set any shared Sass variables.
 * - Next we import Compass plug-ins (Sass mixin libraries).
 * - Last we import a _custom.scss partial that includes our custom mixins.
 */

/*******************************************************************************
 *
 * VARIABLES
 *
 ******************************************************************************/

// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;

// Default padding/zen-grids gutter width
$gutter-width: 48px;

/*
 * IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
 * - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
 *   and $legacy-support-for-ie7 to false.
 * - (Preferred) Install the box-sizing polyfill and set the variable below to
 *   the absolute path URL to the boxsizing.htc file.
 *   @see https://github.com/Schepp/box-sizing-polyfill
 */
$box-sizing-polyfill-path: "/sites/all/themes/wwuzen/js/boxsizing.htc";

/*******************************************************************************
 *
 * PARTIALS
 *
 ******************************************************************************/

// CUSTOM

@import 'ie';
@import 'typography';
@import 'colors';

// SHARED

// Add Compass IE and vendor prefix support variables.
@import "compass/support";

// Add Compass text replacement mixin
@import "compass/typography/text/replacement";

// Better than Drupal's clearfix.
@import "compass/utilities/general/clearfix";

// See http://compass-style.org/help/tutorials/spriting/
@import "compass/utilities/sprites";

// Use one CSS3 mixin instead of multiple vendor prefixes. 
@import "compass/css3";

// Helps set up a vertical rhythm.
@import "compass/typography/vertical_rhythm";

// Add the Zen Grids responsive layout mixins.
@import "zen";

/*******************************************************************************
 *
 * CUSTOM MIXINS
 *
 ******************************************************************************/

@import "custom";
