/**
 * @file
 * Majors page stylesing
 */

/* Display sizes */
$display-small: 480px;
$display-medium: 600px;
$display-large: 820px;
$display-xlarge: 1024px;

/* Zen settings */
$zen-gutter-width: $gutter-width;

/* Majors variables */
$social-media-icon-dimension: 49px;
$contact-icon-dimension: 48px;

/*******************************************************************************
 *
 * Global styles
 *
 ******************************************************************************/

@media all {


  //disable letter links so that they cannot be clicked.
  .ln-disabled{
    pointer-events:none;
    cursor:default;
  }

  .node-type-major {

    * {
      word-wrap: normal;
    }

    body {
      position: relative; //Required for scrollspy
    }

    .page {
      background-color: #fff;
    }

    .western-header {
      @include clearfix;
    }

    header[role="banner"] {
      padding: 0;
      margin: 0;
    }

    header .field-major-image {
      border: none;
      max-height: 100%;
      width: 100%;
    }

    .field-major-image img {
      display: block;
    }

    .site-header {
      position: absolute;
    }

    main {
      background: none;
      padding: 0;
    }

    main .page-title {
      background-color: $wwuLtblue;
      border: none;
      padding: 1em 24px;
      margin: 0;
    }

    main > .content {
      margin: 0;
    }

    .page-title h1 {
      font-size: 200%;
      color: #fff;
      margin-top: 1.75em;
    }
  }

  .majors-wrapper {
    @include zen-grid-container();
    padding-top: $gutter-width / 3;
  }

  $zen-column-count: 1;

  .majors-main {
    @include zen-grid-item(1,1);
    clear: none;
  }

  .majors-body {
    margin-bottom: $gutter-width / 2;
    margin-top: $gutter-width * 1.56;
  }

  .majors-body q {
    display: block;
    font-family: 'Georgia', serif;
    font-size: 90%;
    font-style: italic;
    margin: 0 4em;
    padding-left: 1em;
    text-align: right;
  }

  .majors-body aside {
    @include clearfix;
    background-color: tint($wwuBlue, 50%);
    background-image: url('../images/svg/star-background.svg');
    background-position: 85% 15%;
    background-size: auto 115%;
    background-repeat: no-repeat;
    padding: $gutter-width / 2;
    margin-top: $gutter-width / 2;
    margin-right: -$gutter-width / 2;
    margin-bottom: $gutter-width / 2;

    p {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    strong {
      color: #fff;
      font-size: 120%;
      font-weight: normal;
      font-style: italic;
    }
  }

  .majors-body aside:before {
    content: ' ';
    float: left;
    width: 115px;
    height: 115px;
    margin-right: $gutter-width / 2;
    background-image: url('../images/svg/star-icon.svg');
    background-repeat: no-repeat;
    background-position: left top;
  }

  .majors-header h2 {
    margin-top: 0.4em;
  }

  .majors-inner-envelope {
    border-top: 2px solid #ddd;
  }

  .majors-bottom {
    margin-bottom: $gutter-width;
  }

  .majors-bottom h3 {
    font-size: 120%;
    line-height: 1.2em;
  }

  .majors-related .majors-inner-envelope {

    p:first-child {
      margin-top: 1.17em;
    }

    p, h3 {
      font-size: 120%;
    }
  }

  .majors-sidebar {
    @include zen-clear(both);
    @include zen-grid-item(1,1);
    background-color: $wwuLtblue;
    padding-bottom: $gutter-width;
    padding-top: $gutter-width;
    text-align: center;

    * {
      color: #fff;
    }

    section, nav {
      $zen-column-count: 1;

      @include zen-grid-item(1,1);
      @include zen-clear();
      margin-bottom: 24px;
    }
  }

  .majors-navigation {
    display: none;
  }

  .majors-navigation ul,
  .majors-navigation li {
    line-height: 1em;
    list-style: none;
  }

  .majors-navigation li {
    margin-bottom: 1em;
  }

  .majors-navigation a {
    display: block;
    position: relative;
  }

  .majors-navigation a:after {
    border-bottom: 20px solid transparent;
    border-right: 20px solid #fff;
    border-top: 20px solid transparent;
    box-sizing: content-box;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -20px;
    opacity: 0;
    position: absolute;
    right: -35px;
    top: 50%;
    transition: opacity 0.15s ease-out;
    width: 0;

  }

  /* arrows that appear to the right of nav links */
  .majors-navigation li.active a:after,
  .majors-navigation li.clicked a:after{
    opacity: 1;
  }

  .majors-social-media h2 {
    font-size: 150%;
    margin-top: 0;
  }

  .majors-social-media ul {
    @include zen-nested-container();
    display: table;
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }

  // 'display: table-cell' allows for easy vertical centering of multi-line text
  .majors-social-media li {
    display: table-cell;
    float: left;
    margin: 0;
    padding-bottom: 0.5em;
    padding-left: 0.25em;
    padding-right: 0.25em;
  }

  .majors-social-media li:first-child {
    padding-left: 0;
  }

  .majors-social-media li:last-child {
    padding-right: 0;
  }

  .majors-social-media li:nth-child(3) {
    clear: none;
    padding-left: 0.25em;
  }

  // Using the compass text replacmeent mixin. This requires that the element
  // have block level display
  .majors-social-media a {
    @include hide-text();
    background-color: transparent;
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    height: $social-media-icon-dimension;
    width: $social-media-icon-dimension;
  }

  .majors-social-media li {
    padding-bottom: 0;
  }

  .majors-twitter-link {
    background-image: url('../images/svg/twitter-icon.svg');

    &:hover,
    &:active,
    &:focus {
      background-position: left bottom;
    }
  }

  .majors-facebook-link {
    background-image: url('../images/svg/facebook-icon.svg');

    &:hover,
    &:active,
    &:focus {
      background-position: left bottom;
    }
  }

  .majors-pintrest-link {
    background-image: url('../images/svg/pinterest-icon.svg');

    &:hover,
    &:active,
    &:focus {
      background-position: left bottom;
    }
  }

  .majors-email-link {
    background-image: url('../images/svg/mail-icon.svg');

    &:hover,
    &:active,
    &:focus {
      background-position: left bottom;
    }
  }

  .majors-apply-western {
    font-size: 200%;
  }

  .majors-apply-western,
  .majors-apply-western a,
  .majors-apply-western span {
    color: $wwuLime;
  }

  .majors-apply-western a {
    display: block;
    line-height: 1em;
  }

  .majors-apply-western span {
    text-transform: uppercase;
  }

  .majors-apply-western span:last-of-type,
  .majors-apply-western span:nth-child(2) {
    display: block;
  }

  .majors-request-info {
    font-size: 150%;
  }

  .majors-bottom section:before {
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100%;
    content: ' ';
    display: block;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 1.76em;
    width: 150px;
  }

  .majors-related:before {
    background-image: url('../images/svg/honeycomb.svg');
  }

  .majors-careers:before {
    background-image: url('../images/svg/contact-icon.svg');
  }

  .majors-contact:before {
    background-image: url('../images/svg/chat-icon.svg');
  }

  .majors-contact ul {
    display: table;
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0 auto;
  }

  .majors-contact li {
    display: table-row;

    a {
      background-clip: padding-box;
      background-repeat: no-repeat;
      background-position: right center;
      border-bottom: 16px solid transparent;
      display: table-cell;
      height: $contact-icon-dimension;
      line-height: 1em;
      padding-right: $contact-icon-dimension + 16px;
      vertical-align: middle;
    }
  }

  .majors-contact-email {
    background-image: url('../images/svg/mail-icon.svg');
  }

  .majors-contact-phone {
    background-image: url('../images/svg/phone-icon.svg');
  }

  .majors-contact-website {
    background-image: url('../images/svg/sites-icon.svg');
  }

  // 'position: relative' ensures that the element appears on top of overlapping
  // floated elements
  .group-majors-profile {
    background-color: rgba(255,255,255,0.9);
    display: inline-block;
    float: right;
    margin-bottom: $gutter-width / 2;
    margin-right: 40%;
    margin-top: $gutter-width / 2;
    padding: $gutter-width / 4;
    position: relative;
  }

  .field-majors-profile-name,
  .field-majors-profile-title,
  .field-majors-profile-body {
    background-color: rgba(255,255,255,0.9);
    position: relative;
    text-align: right;
  }

  .field-majors-profile-name,
  .field-majors-profile-title {
    color: $wwuBlue;
    margin-right: 35%;
    padding-right: $gutter-width / 2;
  }

  .field-majors-profile-name,
  .paragraphs-items .field-majors-profile-image img{
    margin-top: 10px;
  }

  .field-majors-profile-name {
    font-size: 135%;
    padding-top: 0;
  }

  .field-majors-profile-title {
    font-size: 110%;
    padding-bottom: $gutter-width / 2;
  }

  .field-majors-profile-body {
    padding: $gutter-width / 2;

    q {
      margin-right: 25%;
    }
  }

  .paragraphs-item-majors-profile {
    overflow: hidden;
    position: relative;
  }

  .field-majors-profile-image {
    position: absolute;
    right: 0;
    top: 0;
  }

  .paragraphs-item-majors-profile *:first-child {
    margin-top: 0;
  }

  .paragraphs-item-majors-profile *:last-child {
    margin-bottom: 0;
  }

  .field-majors-quote-body {
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    text-align: right;
  }

}

/*******************************************************************************
 *
 * Small displays
 *
 ******************************************************************************/

@media all and (max-width: $display-small) {
  .majors-body {
    aside {
      position: relative;
      left: -$gutter-width / 2;
      width: 100%;
    }
    .field-majors-profile-name,
    .field-majors-profile-body {
      width: 80%;
    }
  }
}

/*******************************************************************************
 *
 * Medium displays
 *
 ******************************************************************************/

@media all and (min-width: $display-medium) {
  .majors-wrapper {
    $zen-column-count: 3;

    .majors-bottom {
      @include zen-grid-item(3,1);
      @include zen-nested-container();
    }
  }

  q.field-majors-profile-body {
    margin-right: 35%;
  }

}

@media all and (max-width: $display-medium) {
  .paragraphs-item-majors-profile
  .field-majors-profile-image {
    position: relative;
    img {
      margin: 0 auto;
      display: block;
    }
  }

  .majors-body {
    .field-majors-profile-name,
    .field-majors-profile-body {
      margin: 0;
      float: right;
    }
    .field-majors-profile-name {
      margin: 10px 0;
    }
    .field-majors-profile-body {
      padding-top: 0;
      padding-bottom: 0;
      border-left: 2px solid $wwuBlue;
    }
  }
}

/*******************************************************************************
 *
 * Styles for the three-column section of the layout
 *
 ******************************************************************************/

// The comma acts as an 'OR' operator. The query will apply to medium and xlarge
// display sizes, but not large
@media all and (min-width: $display-medium) and (max-width: $display-large), (min-width: $display-xlarge) {

  .majors-wrapper {
    .majors-bottom {
      section:first-child {
        padding-left: 0;
      }

      section:last-child {
        padding-right: 0;
      }

      /* Set gutter width for the three columns */
      $zen-gutter-width: 20px;

      .majors-related {
        @include zen-grid-item(1,1);
      }

      .majors-careers {
        @include zen-grid-item(1,2);
      }

      .majors-contact {
        @include zen-grid-item(1,3);
      }

      /* Reset gutter width for subsequent grid items */
      $zen-gutter-width: $gutter-width;
    }
  }

}

/*******************************************************************************
 *
 * Overrides for the default theme CSS @800 px
 *
 ******************************************************************************/

@media all and (min-width: 800px) {

  .node-type-major .western-header {
    overflow: visible;
  }

  header[role='banner']:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 54px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.75;
    z-index: 1;
  }

}

/*******************************************************************************
 *
 * All display sizes greater than large
 *
 ******************************************************************************/

@media all and (min-width: $display-large) {

  .node-type-major {

    .page {
      @include background-image(linear-gradient(left, $wwuLtblue 0%, $wwuLtblue 33.33333%, #fff 33.33333%, #fff 100%));
    }

    main .page-title {
      //@include zen-grid-item(1,1);
      background: transparent;
      text-align: right;
    }
  }

  #majors-intro:before,
  #majors-beyond:before,
  #majors-graduate:before {
    $offset: 130px;
    display: block;
    position: relative;
    margin-top: -$offset;
    height: $offset;
    content: " ";
    visibility: hidden;
  }

  .majors-wrapper {

    // Use of the float direction parameter prevents the main content area from
    // forcing the sidebar below it on the page
    .majors-main {
      @include zen-grid-item(2,1,right);
    }

    .majors-sidebar {
      @include zen-clear(left);
      @include zen-grid-item(1,1);
      @include zen-nested-container();
      background: transparent;
      padding-bottom: 0;
      padding-top: 0;
      text-align: right;

      & > * {
        background: transparent;
      }
    }

    .majors-navigation {
      display: block;
    }

    .majors-social-media ul {
      @include zen-float(right);
    }
  }

}
