/*******************************************************************************
 *
 * variables
 *
 *******************************************************************************/
$zen-column-count: 2;

@media all {

  .western-header nav {
    z-index: 1;
  }

  .majors-landing {

    header[role="banner"] {
      padding-top: 0;
      margin-top: 0;
    }

    header .header-wrapper {
      max-height: none;
      min-height: 400px;
      border: none;
      height: auto;
      width: 100%;
    }

    .page-title {
      display: none;
    }

    .site-header img {
      float: none;
    }

    main {
      margin-top: 0px;
      padding: 0px;
      padding-bottom: 20px;
    }

    main > .content {
      margin: 0;
    }

    input {
      box-sizing: border-box;
      -webkit-appearance: searchfield;
    }

    .view-content {
      padding: 0.625em;
    }

    h1.slogan {
      margin: 0 auto;
      padding: 10px 0;
      font-weight: 800;
      text-transform: uppercase;
      color: $wwuLime;
    }

    .field-major-image {
      overflow: hidden;

      img {
        display: block;
      }
    }

    .search-container {
      background-color: $wwuLtblue;
      padding: 52px 30px 21px 30px;

      form{
        margin: 0 auto;
        display: block;
        float: none;
        padding-right: 0;
        padding-bottom: 1em;
      }

      label {
        color: white;
        font-size: 14px;
      }

      #majors-search-input {
        width: 100%;
        border-radius: 4px;
        border-color: none;
        border: none;
        padding: 5px;
      }
    }

    .more-major-options {
      padding: 10px 20px;
      border-top: 1px solid #ccc;
      margin: 0 20px;

      h4 {
        color: $wwuLtblue;
        font-weight: bold;
        margin: 10px 0;
      }

      p, ul li {
        color: #333;
      }
    }

    .spotlight-container {
      background-color: rgba($wwuLtblue, 0.80);
      color: white;
      padding: 10px 20px;

      .spotlight-text {
        text-transform: uppercase;
        text-align: right;
        font-weight: bold;
        color: $wwuLime;
      }

      .featured-title {
        text-align: right;
        font-weight: bold;
        font-size: 130%; //About 21px
      }

      a {
        float: right;
        color: white;
      }
    }

    .view-content li {
      list-style-type: none;
      line-height: 1.2;
      padding: 0.6em 0;
    }

    .view-featured-majors {

      .spotlight-container {
        display: inline-block;
        line-height: 1.5;
      }

      .views-field-title {
        bottom: 3em;
        display: inline-block;
        position: absolute;
        right: 0;
      }

      .view-content {
        padding: 0;
      }
    }

    .majors-description {
      color: white;
      font-size: 1.15em;

      a {
        color: white;
        text-decoration: underline;
      }
    }

    /* listnav.js styles */
    #majors-list-nav {
      padding: 10px 0;
      border-bottom: 1px solid #ccc;
      max-width: 96%;
      margin: 0 2%;
    }

    .listNav,
    .ln-letters {
      overflow: hidden;
      text-align: center;
    }

    .ln-letters {

      a {
        font-size: 1.5em;
        font-weight: 900;
        display: inline-block;
        padding: 8px;
        text-decoration: none;
        color: $wwuBlue;
      }

      .ln-disabled {
        color: #ccc;
      }

      a:hover, .ln-selected {
        color: $wwuLtblue;
      }
    }

    // Any result with both classes should be shown
    .listNavShow.quickSearchShow {
      display: list-item;
    }

    // Any result with either class should be hidden
    .listNavHide, .quickSearchHide {
      display: none;
    }

    // Show the "no results" message even if the inline style is set to display
    // none
    .listNavShow.ln-no-match {
      display: list-item !important;
    }
    /* END listnav.js styles */
  }
}

@media all and (max-width: 550px) {

  $zen-column-count: 1;

  .spotlight-container .featured-title {
    font-size: 18px;
  }

  .majors-landing {

    .slogan-mobile {
      display: block;
    }

    .search-container .block,
    .majors-description {
      margin-bottom: 0;
    }
  }

}

@media all and (min-width: 551px) {

  .majors-list {
    @include column-count(2);

    li {
      @include column-break(inside, avoid);

      // Workaround for lack of "break-inside: avoid" among most major browsers
      a {
        display: table-cell;
      }
    }
  }

  .spotlight-container {
    font-size: 90%;
  }

  .views-field-title {
    max-width: 50%;
  }

}

@media (max-width: 800px) {

  .slogan {
    display: none;
  }

  .slogan-mobile {
    background: $wwuLtblue;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px;

    p {
      color: $wwuLime;
      margin-left: 10px;
    }
  }

  .search-container {

    form {
      padding-top: 10px;
    }

    label {
      font-size: 16px;
    }

    #majors-search-input {
      margin-top: 10px;
    }

    .majors-description {
      padding-top: 10px;
    }
  }

}

@media (min-width: 801px) {

    .slogan-mobile {
      display: none;
    }
}
