.page-videos-photos {

  p {
    margin: 0;
    padding: 0;
  }

  .page-title {
    margin: 0;
  }

  main {
    display: flex;
    flex-flow: row nowrap;

    > .content {
      flex-basis: 70%;
      margin: 0;
      order: 2;
    }

    .content-sidebar {
      flex-basis: 30%;
      order: 1;
    }
  }

  .content-sidebar {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .media-links {
    list-style: none;
    padding: 0;
    text-align: center;

    li {
      padding: .5em;
    }

    a {
      align-items: center;
      display: flex;
      flex-flow: column nowrap;
    }

    a::before {
      padding-bottom: .5em;
    }
  }
}

.western-today-media-link a::before {
  background: $wwuBlue url('../images/icons/videos-photos/westerntoday.svg') center center / 90% no-repeat;
  content: ' ';
  display: block;
  height: 120px;
  width: 120px;
}

.western-social-media-link a::before {
  background: transparent url('../images/icons/videos-photos/social.svg') center center / 100% no-repeat;
  content: ' ';
  display: block;
  height: 120px;
  width: 120px;
}

.western-vimeo-media-link a::before {
  background: transparent url('../images/icons/videos-photos/vimeo.svg') center center / 100% no-repeat;
  content: ' ';
  display: block;
  height: 120px;
  width: 120px;
}

.western-youtube-media-link a::before {
  background: transparent url('../images/icons/videos-photos/youtube.svg') center center / 100% no-repeat;
  content: ' ';
  display: block;
  height: 120px;
  width: 120px;
}
