@import 'base';

/*******************************************************************************
 *
 * VARIABLES
 *
 ******************************************************************************/
$logo-offset: 20px;
$relative-size-unit: 1em;
$front-page-link-icon-size: 4;

/*******************************************************************************
 *
 * ALL
 *
 ******************************************************************************/
@media all {

  /* NORMALIZE */
  body {
    -moz-osx-font-smoothing: grayscale;
  }

  /* MAIN */
  main {
    background-image: none;
    margin-bottom: 0;

    & > .content {
      margin-left: 0px;
    }
  }

  .site-header {
    width: 100%;
    position: relative;
  }

  .tagline {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    font-size: 110%;
    font-family: $georgia;
    font-style: italic;
    line-height: 1;
    padding: 1em;
    padding-left: 15%;
    @include background-image(linear-gradient(left, transparent, #000));
  }

  /* SITE NAME */
  .site-name {
    display: none;
    visibility: hidden;
  }

  /* PAGE TITLE */
  .page-title {
    margin-left: 290px;
  }

  .page-title h1 {
    margin-left: 0;
  }

  /* MAIN MENU */
  .main-nav {
    float: none;
  }

  #main-menu {

    .active-trail,
    .active {
      background-color: transparent;
    }

    a.active-trail, a.active {
      &:hover, &:focus {
        background-color: $wwuLime;
      }
    }

    .accordion-header {
      color: #fff;
      border-bottom: none;
      border-top: 1px solid $wwuLtblue;
      font-weight: bold;
      text-transform: uppercase;
      background: $wwuBlue;

      .ui-icon {
        background-image: url("../images/ui-icons_FFFFFF_256x240.png");
      }

    }

    .accordion-link {
      color: #fff;
      margin-right: auto;
      padding: 7px;
      padding-left: 20px;
      width: 174px;
    }

    .menu__item {
      display: block;
      text-transform: none;
      padding: 0;
      border: none;
    }

    .menu__link {
      color: #fff;
      font-size: 14px;
      border-bottom: none;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      text-align: left;
      transition: none;
    }

    .accordion-header.has-children:hover, .accordion-header.ui-state-focus {
      background-color: tint($wwuGrayBlue, 80%);
      .accordion-link,
      .menu__item,
      .menu__link, {
        color: $wwuBlue;
      }
      .ui-icon {
        background-image: url("../images/ui-icons_blue_256x240.png");
      }
    }
    .menu__link:hover {
      color: $wwuBlue;
    }

    /*JavaScript is used to add .ui-state-focus for styles above. Backup
     *plan for if JavaScript is not enabled.
     */
.ui-accordion-content {
  .menu__item:focus, .accordion-link:focus, .menu__link:focus {
    background-color: tint($wwuGrayBlue, 80%);
    color: $wwuBlue;
  }
}
.accordion-header.no-children {
  a:focus, a:hover {text-decoration: underline; color: $wwuBlue;}
}

  }
  /* END MAIN MENU */

  /* FRONT PAGE */
  .front {

    .site-header {
      float: none !important;
    }

    .page-title {
      display: none;
    }

    .tagline {
      position: static;
      box-sizing: border-box;
      height: 34px;
      margin-bottom: 10px;
      background: none;
      background-color: $wwuOceanBlue;
      line-height: 34px;
      color: #fff;
      font-style: italic;
      font-family: $muli;
    }

    main > .content {
      margin-left: 0;
    }

    main .pane-title {
      margin-top: 10px;
    }

    /* FLEXSLIDER */
    .flexslider {
      border: none;
      margin: 0;

      .slides > li {
        overflow: hidden;
      }

      .caption {
        padding: 1em;
        background-color: rgba(#000, 0.6);
        text-align: right;
        position: absolute;
        right: 0;
        bottom: 40px;
      }

      .caption a {
        color: $wwuYellow;
      }

      .flex-control-nav {
        z-index: 5;
        bottom: 18px;
      }

      .flex-control-paging a {
        @include box-shadow(none);
        background: none;
        background-color: rgba($wwuLtGray, 0.75);
        border-width: 3px;
        border-style: solid;
        border-color: transparent;
      }

      .flex-control-paging .flex-active {
        background: transparent;
        border-color: $wwuYellow;
      }
    }
    /* END FLEXSLIDER */

    /* FRONT PAGE ADMISSION LINKS */
    .admissions-clean-homepage {
      @include zen-nested-container;
      @include clearfix;

      padding: 1em 0;
    }

    .pane-menu-menu-front-page-admissions-menu,
    .pane-menu-menu-front-page-action-menu {

      .menu {
        list-style: none;
        line-height: 1;
        margin: 0;
        padding: 0;
      }

      .menu__item {
        list-style: none;
      }

      .menu__link {
        display: inline-block;
      }

    }

    .pane-menu-menu-front-page-admissions-menu {
      margin-bottom: 1.5em;

      li {
        box-sizing: border-box;
        max-width: 85%;
        margin: 0 auto;
      }
    }

    .pane-menu-menu-front-page-action-menu {

      .menu {
        display: table;
        table-layout: fixed;
        width: 100%;
        padding: 0;
      }

      .menu__item {
        list-style: none;
        display: table-cell;
        text-align: center;
      }

      .menu__link {
        font-family: Georgia, sans-serif;
        font-style: italic;
        text-transform: lowercase;
        text-align: center;
        vertical-align: top;

        &:hover, &:active, &:focus {
          text-decoration: none;
          color: $wwuBlue;
        }
      }

      .menu__link:before {
        content: ' ';
        display: block;
        width: $front-page-link-icon-size * $relative-size-unit;
        height: $front-page-link-icon-size * $relative-size-unit;
        margin: 0 auto;
        margin-bottom: 0.5em;
        background-size: 100%;
        background-position: left top;
      }

    }

    .front-page-admissions-link {
      position: relative;
      color: #fff;
      font-family: $muli;
      font-style: normal;
      font-size: 64 / 3 / 16 * 100%;
      text-transform: uppercase;
      line-height: 1;
      padding: 1em;
      padding-right: 2.5em;
      padding-left: 1.5em;
      border-radius: 2em;
      background-color: $wwuBlue;
      box-sizing: border-box;
      width: 100%;
      word-wrap: normal;

      &:before {
        content: '';
        display: none;
      }

      &:after {
        content: ' ';
        display: inline-block;
        position: absolute;
        background-image: url('../images/svg/right-arrow-icon.svg');
        background-size: 100%;
        background-position: left top;
        width: 2/3 * 1em;
        height: 1em;
        top: auto;
        right: 1em;

        @media screen and (min-width: 820px) and (max-width: 840px) {
          right: .75em;
        }

        @media screen and (min-width: 801px) and (max-width: 819px) {
          right: .5em;
        }
      }

      &:hover, &:active, &:focus {
        color: $wwuBlue;
        background-color: tint($wwuLtblue, 80);
        text-decoration: none;

        &:after {
          opacity: 0.75;
        }
      }
    }

    .front-page-visit-link {

      &:before {
        background-image: url('../images/icons/front-page/visit.svg');
        background-position: top;
      }

      &:hover, &:active, &:focus {

        &:before {
          background-position: bottom;
        }
      }
    }

    .front-page-request-info-link {

      &:before {
        background-image: url('../images/icons/front-page/request-info.svg');
        background-position: top;
      }

      &:hover, &:active, &:focus {

        &:before {
          background-position: bottom;
        }
      }
    }

    .front-page-apply-link {

      &:before {
        background-image: url('../images/icons/front-page/apply.svg');
        background-position: top;
      }

      &:hover, &:active, &:focus {

        &:before {
          background-position: bottom;
        }
      }
    }
    /* END ADMISSIONS LINKS */

    /* FRONT PAGE FEEDS */
    .events-clean-homepage,
    .news-clean-homepage {

      .pane-title {
        font-size: 18.5px;
        color: #000;
        border-bottom: 3px solid $wwuRed;
        padding-bottom: 5px;
        text-transform: uppercase;
      }

      .view-content{

        ul {
          margin-top: 0;
        }

        li {
          font-size: 14px;
        }

        a {
          color: $wwuBlue;
        }
      }

      .more-link a {
        color: tint(#000, 20);
        transition: 0.2s;

        &:hover {
          text-decoration: none;
          color: #000;
        }
      }
    }
    .events-clean-homepage .emphasis li a {
      font-weight:700;
    }
    /* END FRONT PAGE FEEDS */

    /* COMMENCEMENT CONTENT */

    .commencement {
      background-color:lighten($wwuLime, 40%);
      padding:1em;
      margin:1em 0 1em 0;
      width:77%;

      a {
        color: $wwuBlue;
      }

      h3 {
        margin: 0 0 0.5em;
      }
    }
    /* END COMMENCEMENT CONTENT */

    /* FRONT PAGE ALERTS */
    .region-alert {

      h2 {
        margin: 0;
      }

      .block, .block > div {
        box-sizing: border-box;
        margin: 0;
        min-height: 102px;
      }
    }

    .view.emergency {
      background-position: 30px center;
      background-repeat: no-repeat;
      background-size: 60px;
      font-family: Muli, Verdana, sans-serif;
      font-size: 130%;
      padding: 20px 25px;
      padding-left: 120px;
      padding-right: 215px;
      position: relative;

      .view-footer {
        position: absolute;
        bottom: 20px;
        right: 25px;
      }

      a {
        display: inline-block;
        border-radius: 1em;
        line-height: 1.25;
        padding: 0 1em;
        text-transform: uppercase;
        border-width: 2px;
        border-style: solid;
      }

      a:focus, a:hover, a:active {
        text-decoration: none;
      }

      h2 {
        border: none;
        font-weight: normal;
        line-height: 1.5;
      }
    }

    .view-western-alerts {
      background-color: #9a2224;
      color: #fff;
      background-image: url('../images/AlertIcon.svg');

      h2 {
        color: #fff;
      }

      a {
        border-color: #fff;
        color: #9a2224;
        background: #fff;
      }

      a:focus, a:hover, a:active {
        background: #9a2224;
        color: #fff;
      }
    }

    .view-inclement-weather {
      background-color: #ffC61E;
      background-image: url('../images/WeatherIcon.svg');
      color: #003f87;

      h2 {
        color: #003F87;
      }

      a {
        border-color: #003f87;
        color: #FFC61e;
        background: #003f87;
      }

      a:focus, a:hover, a:active {
        background: #ffc61e;
        color: #003f87;
      }
    }
    @media all and (max-width: 800px) {
    	.view.emergency {
    		padding-right: 44px;
    		.view-footer {
    			position: static;
    			margin-top: 1em;
    		}
    	}
    }

    /* END FRONT PAGE ALERTS */

  }
  /* END FRONT PAGE */

  /* ACADEMIC CALENDAR */
  .view-academic-calendar .views-field.views-field-title {
    max-width:100%;
  }

  @media screen and (max-width: 450px) {
    .fc-header-center h2 {
      font-size: 5vw;
    }
  }

  /* CAMPUS SAFETY TOPICS */
  .page-campus-safety-resources {
    h2.pane-title {
      border-bottom: tint($wwuRed, 30%) solid 2px;
      padding-bottom: 5px;
    }
    h3 {
      background-color: tint($wwuYellow, 45%);
      padding: 0.5em;
      margin-top: 1em;
    }
  }
  /* FOOTER */
  footer {
    border-top: 10px solid #e9e9e9;
  }

  footer,
  .region-footer-bottom {
    max-width: 1080px;
    margin: 0 auto;
  }

  .region-footer-bottom .menu {
    padding: 0;
  }

  .footer-left img {
    width: auto;
    height: auto;
    max-width: none;
  }

  .campaign-banner {
    padding: 0 1em;
    margin-top:-1px;
  }

  #block-menu-menu-footer-menu {
    background-color: $wwuGrayBlue;
    text-align: center;
    width: 100%;
    margin-bottom: 0;

    .menu {
      display: table;
      list-style: none;
      margin: 0 auto;
      padding: 10px 0px 14px 24px;
    }

    .menu li {
      display: table-cell;
      float: left;
    }

    .menu a {
      color: #fff;
      font-family: $muli;
      background-image: url('../images/white_1px.png');
      background-repeat: no-repeat;
      background-position: right center;
      padding: 0 0.5em;
      text-decoration: underline;
    }

    .menu li:last-child a {
      padding-right: .4em;
      background-image: none;
    }

    .menu a:focus, a:hover {
      background-color: $wwuLtGray;
      color: $wwuBlue;
      border-radius: 3px;
      text-decoration: none;
    }
  }
  /* END FOOTER */

}

/*******************************************************************************
 *
 * MEDIUM
 *
 ******************************************************************************/
@media all and (min-width: 360px) {

  .front {

    .pane-menu-menu-front-page-admissions-menu {

      li {
        max-width: 65%;
      }
    }
  }

}

@media all and (max-width: 550px) {

  .western-header .western-logo a {
    background-size: contain;
  }

  .front .flexslider .caption {
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 12px;
  }

  .footer-left img {
    width: auto;
    height: 100%;
    margin: 0 auto;
    display: block;
  }

}

@media all and (min-width: 550px) {

  /* FRONT PAGE ADMISSIONS/ACTION LINKS */
  .admissions-clean-homepage {
    $zen-column-count: 14;

    .pane-menu-menu-front-page-admissions-menu {
      @include zen-grid-item(6, 1);

      li {
        max-width: 100%;
      }
    }

    .pane-menu-menu-front-page-action-menu {
      @include zen-grid-item(8, 7);
    }
  }
  /* END FRONT PAGE ADMISSIONS/ACTION LINKS */



}

/*******************************************************************************
 *
 * LARGE
 *
 ******************************************************************************/
@media (max-width: 800px) {

  main {
    overflow: hidden;
    background-color: #f9f9f9;
  }

  main .page-title {
    padding: 0;
    margin-left:0;
  }

  .site-header img {
    float: left;
  }

  .western-header {
    height: 138px;
    overflow: auto;

    .western-logo a {
      background: $wwuBlue url("../images/wwuhorizlogo.svg") no-repeat scroll 0 50% / 80% auto;
      height: 138px;
    }
  }

  /* FRONT PAGE */
  .front {

    .tagline {
      text-align: center;
      clear: both;
      height: 45px;
      font-size: 20px;
      line-height: 45px;
      padding: 0;
    }

    .flexslider {
      border: none;
      z-index: 0;

      .caption {
        padding: 5px 12px;
        font-size: 14px;
      }

      .flex-control-nav {
        bottom: -5px;
      }
    }
  }
  /* END FRONT PAGE */

  .news-events-box {
    @include zen-clear(both);
    margin-bottom: 10px;

    .pane-title {
      text-align: center;
      background-color: #eee;
      padding: 10px 0;
      margin: 0;
    }

    .news-clean-homepage,
    .events-clean-homepage {

      .view {
        padding: 10px;
        background-color: #fff;

        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;

          li {
            padding: 10px 0;
            border-bottom: 1px solid #ddd;
          }
        }
      }

      .more-link {
        margin-top: 10px;
        margin-right: 5px;
      }
    }

    .events-clean-homepage .pane-title {
      border-bottom-color: $wwuRed;
    }

    div:first-child {
      padding-left: 0px;
      margin-bottom: 10px;
    }

    div:last-child {
      padding-right: 0px;
    }
  }

  footer .footer-left img {
    margin-left: 25%;
    margin-right: 25%;
  }

}

/*******************************************************************************
 *
 * LARGEST
 *
 ******************************************************************************/
@media all and (min-width: 801px) {

  .front {

    /* SITE HEADER */
    .site-header {
      border: 10px solid #fff;
      background-color: #fff;

      img {
        margin-top: 43px;
      }
    }

    /* TAGLINE */
    .tagline {
      position: absolute;
      width: 100%;
      top: 0;
      font-size: 18px;
      line-height: 0;
      font-weight: bold;
      padding-left: 290px;
    }
  }

  /* HEADER */
  header[role="banner"] {
    padding-top: 64px;
    position: relative;
  }

  .hide-desktop {
    display: none;
  }

  main {
    padding-bottom: 40px;
    background-color: #fff;

    & > .content {
      margin-left: 290px;
    }
  }

  /* WESTERN LOGO */
  .western-header .western-logo {
    position: absolute;
    top: 0;
  }

  .western-header .western-logo a {
    background: transparent url("../images/logo-homepage.png") no-repeat scroll 0% 0%;
    position: absolute;
    top: 0;
    padding-bottom: 20px;
    background-color: $wwuBlue;
    margin-left: $logo-offset;
    margin-top: -17px;
  }

  /* FLEXSLIDER */
  .flexslider {
    z-index: 0;
  }

  /* MAIN MENU */
  #main-menu {
    z-index: 100;
    display: block;
    position: absolute;
    max-width: 240px;
    margin-left: 10px + $logo-offset;
    top: 125px;

    /* last three links */
    .accordion-header:nth-last-of-type(3),
    .accordion-header:nth-last-of-type(2),
    .accordion-header:last-of-type {
      background-color: $wwuGrayBlue;
      background-image: none;
      border-top: none;
      display: inline-block;
      float: left;
      text-align: center;
      text-transform: none;
      width: calc(100% / 3);

      > a {
        font-size: 12px;
        margin: 0;
        padding: 7px 12px;
        width: auto;

        &:hover, &:focus {
          text-decoration: underline;
          color: $wwuBlue;
        }

        $html-ent-bullet: '\2022';

        &:after {
          content: $html-ent-bullet;
          display: inline-block;
          position: absolute;
          right: -0.5ch;
          z-index: 1;
          color: #fff;
        }
      }
    }

    .accordion-header.last > a:after {
      content: '';
    }
  }
  /* END MAIN MENU */

}

@media all and (min-width: 995px) {

  /* FRONT PAGE ADMISSIONS/ACTION LINKS */
  .admissions-clean-homepage {
    $zen-column-count: 14;

    .pane-menu-menu-front-page-admissions-menu {
      @include zen-grid-item(5, 1);
    }

    .pane-menu-menu-front-page-action-menu {
      @include zen-grid-item(9, 6);
    }
  }
  /* END FRONT PAGE ADMISSIONS/ACTION LINKS */

}

@media all and (max-width: 1079px) {

  .site-header img {
    max-width: unset;
  }

}


/*******************************************************************************
 *
 * MIXINS
 *
 ******************************************************************************/
@import 'alert';
@import 'majors';
@import 'majors-landing';
@import 'responsive-videos';
@import 'videos-photos';
