@import "panels";

@media all {

  .container-clean-1-66-33 {
    @include zen-grid-container();
  }

  .clean-1-66-33:first-child {
    padding-left: 0;
  }

  .clean-1-66-33:last-child {
    padding-right: 0;
  }

}

@media all and (min-width: 801px) and (max-width: 920px) {

  .western-logo,
  #main-menu {
    @include transition(0.2s);
    @include transform(translateX(-20px));
  }

}

@media all and (min-width: 801px) {

  $zen-column-count: 3;

  .intro-clean-1-66-33 {
    @include zen-grid-item(3,1);
  }

  .bottom-row-clean-1-66-33 {
    @include zen-clear();
    @include zen-nested-container();
  }

  .main-left-clean-1-66-33 {
    @include zen-grid-item(2,1);
  }

  .sidebar-right-clean-1-66-33 {
    @include zen-grid-item(1,3);
  }

}
