@import "panels";

/*******************************************************************************
 *
 * ALL
 *
 ******************************************************************************/
@media all {

  .page-home header[role="banner"] > div {
    max-height: 400px;
  }

}

/*******************************************************************************
 *
 * LARGEST
 *
 ******************************************************************************/
@media all and (min-width: 551px) and (max-width: 800px)  {

  /* TWO-COLUMN LAYOUT */
  $zen-column-count: 2;

  .left-container-clean-homepage {
    @include zen-clear();
    @include zen-grid-item(2,1);
    @include zen-nested-container;
  }

  .news-events-box {
    @include zen-clear();

    .news-clean-homepage {
      @include zen-grid-item(1,1);
    }
    .events-clean-homepage {
      @include zen-grid-item(1,2);
    }
  }

  .feature-top-clean-homepage {
    @include zen-grid-item(1,1);
  }

  .feature-bottom-clean-homepage {
    @include zen-grid-item(1,2);
  }

}

/*******************************************************************************
 *
 * LARGEST
 *
 ******************************************************************************/
@media all and (min-width: 801px) {

  /* THREE-COLUMN LAYOUT */
  $zen-column-count: 3;

  .left-container-clean-homepage {
    @include zen-grid-item(1,1);
  }

  .right-container-clean-homepage {
    @include zen-grid-item(2,2);
    @include zen-nested-container();

    $zen-column-count: 2;

    .admissions-clean-homepage {
      @include zen-grid-item(2,1);
    }

    .news-events-box {
      @include zen-clear();

      .news-clean-homepage {
        @include zen-grid-item(1,1);
      }

      .events-clean-homepage {
        @include zen-grid-item(1,2);
      }
    }
  }

}
