@import "panels";

@media all {

  .container-clean-1-1-3-3-3 {
    @include zen-grid-container();
  }

  .clean-1-1-3-3-3:first-child {
    padding-left: 0;
  }

  .clean-1-1-3-3-3:last-child {
    padding-right: 0;
  }

}

@media all and (min-width: 551px) and (max-width: 800px)  {

  $zen-column-count: 2;

  .page-banner-clean-1-1-3-3-3 {
    @include zen-grid-item(2,1);
  }

  .intro-clean-1-1-3-3-3 {
    @include zen-grid-item(2,1);
  }

  .bottom-row-clean-1-1-3-3-3 {
    @include zen-clear();

    .left-third-clean-1-1-3-3-3 {
      @include zen-grid-item(1,1);
    }

    .center-third-clean-1-1-3-3-3 {
      @include zen-grid-item(1,2);
    }

    .right-third-clean-1-1-3-3-3 {
      @include zen-clear();
      @include zen-grid-item(2,1);
    }
  }

}

@media all and (min-width: 801px) {

  $zen-column-count: 3;

  .page-banner-clean-1-1-3-3-3 {
    @include zen-grid-item(3,1);
    @include zen-float(none);
  }

  .intro-clean-1-1-3-3-3 {
    @include zen-grid-item(3,1);
  }

  .bottom-row-clean-1-1-3-3-3 {
    @include zen-clear();

    .left-third-clean-1-1-3-3-3 {
      @include zen-grid-item(1,1);
    }
    .center-third-clean-1-1-3-3-3 {
      @include zen-grid-item(1,2);
    }
    .right-third-clean-1-1-3-3-3 {
      @include zen-grid-item(1,3);
    }
  }

}

@media all and (min-width: 801px) and (max-width: 920px) {

  .western-logo,
  #main-menu {
    @include transition(0.2s);
    @include transform(translateX(-20px));
  }

}
